[submodule "backend/external/cudd"]
	path = backend/external/cudd
	url = https://github.com/ivmai/cudd.git
[submodule "backend/external/OpenSTA"]
	path = backend/external/OpenSTA
	url = https://github.com/The-OpenROAD-Project/OpenSTA.git
