<!DOCTYPE html>
<html>
<head>
  <title>SCALO Simulator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/create_pipeline.css') }}">
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
  <div class="header">
    <h1>SCALO Simulator</h1>
  </div>

  <div id="pipeline-creator"></div>

  <div class="pipeline-controls">
    <label id="pipeline-name-label" for="pipeline-name">Pipeline Name:</label>
    <input type="text" id="pipeline-name">
    <div class="pipeline-controls-buttons">
      <button id="pipeline-save">Save Pipeline</button>
      <button id="pipeline-reset">Reset Pipeline</button>
    </div>
  </div>

  <div class="help-tooltip">
    <span class="help-icon">?</span>
    <div class="tooltip-content">
      Right-click to add new PEs. Drag a PE out to delete it from your pipeline.
      To add an edge to a PE, double click on it and then click on the
      destination PE. To see or edit a PE's attributes, hover your mouse
      over it. When you are ready click save.
    </div>
  </div>

  <div class="pe-config-panel">
    <h3 class="config-title"></h3>
    <div class="form-content"></div>
    <div class="buttons">
      <button class="save-btn">Save</button>
      <button class="close-btn">Close</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/create_pipeline.js') }}"></script>
</body>
</html>
