<!DOCTYPE html>
<html>
<head>
  <title>SCALO Simulator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
  <h1>SCALO Simulator</h1>
  
  <div class="simulatorDiv">
    <form id="selectPipelineForm" action="/pipeline" method="POST">
      <label for="selectPipeline">SELECT A PIPELINE</label><br>
      <select name="selectPipeline" id="selectPipeline"></select><br>
    </form>

    <form id="createNewPipelineForm" action="/create_pipeline" method="POST">
      <label for="createNewPipelineButton">OR</label><br><br>
      <button id="createNewPipelineButton" type="submit">CREATE A NEW PIPELINE</button>
    </form>
  </div>
  
  <script>
    populatePipelineOptionsFromCSV("{{ url_for('static', filename='available_pipelines/pipelines.csv') }}");
  </script>
</body>
</html>