<!DOCTYPE html>
<html>
<head>
    <title>Simulation Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<body>
    <h1>Simulation Results</h1>
    <!-- TODO(btrevisa) add some kind of summary about the run-->

    <h2>Visualizations</h2>
    <div id="visualization-container">
        <img src="{{ url_for('static', filename='pipelines/' + pipeline + '/visualizations/pipeline.png') }}" alt="Pipeline">
        <br>

        {% if accuracy_selected %}
        <img src="{{ url_for('static', filename='output_plots/accuracy_plot.png') }}" alt="Accuracy Plot">
        <br>
        {% endif %}

        {% if latency_selected %}
        <img src="{{ url_for('static', filename='output_plots/time_plot.png') }}" alt="Time Plot">
        <br>
        {% endif %}
        
        {% if power_selected %}
        <img src="{{ url_for('static', filename='output_plots/power_plot.png') }}" alt="Power Plot">
        <br>
        {% endif %}

        {% if custom_selected %}
        <img src="{{ url_for('static', filename='output_plots/custom_plot.png') }}" alt="Custom Plot">
        {% endif %}
    </div>
</body>
</html>