<!DOCTYPE html>
<html>
<head>
  <title>SCALO Simulator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pipeline.css') }}">
  <script src="{{ url_for('static', filename='js/pipeline.js') }}"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
  <a href="/"><h1>SCALO Simulator</h1></a>

  <h3 id="selectedPipeline">{{selected_pipeline}} Pipeline</h3>

  <h3>Latest Visualizations</h3>

  <div class="latestVisContainer">
    <div class="latestVis">
        <h2>Accuracy</h2>
        <div id="latestAccuracyVis"></div>
    </div>
    <div class="latestVis">
        <h2>Latency</h2>
        <div id="latestLatencyVis"></div>
    </div>
    <div class="latestVis">
        <h2>Power</h2>
        <div id="latestPowerVis"></div>
    </div>
  </div>

  <div class="tooltip"></div>

  <h3>Run More Experiments</h3>

  <!-- <div class="simulatorDiv" id="simulateFormDiv">
    <form id="simulateForm" action="/output" method="POST">
      <input placeholder="Number of runs" required="" type="number" name="numberRuns"/><br>

      <div>
        <h4>Visualization Options</h4>
        <div>
          <br>
          <label for="accuracy" class="visualizationOptions">Accuracy</label>
          <input type="checkbox" name="accuracy" value="accuracy" id="accuracy">
          <br>

          <label for="latency" class="visualizationOptions">Latency</label>
          <input type="checkbox" name="latency" value="latency" id="latency">
          <br>

          <label for="power" class="visualizationOptions">Power</label>
          <input type="checkbox" name="power" value="power" id="power">
          <br>

          <label for="custom" class="visualizationOptions">Custom</label>
          <input type="checkbox" name="custom" value="custom" id="custom">
          <br>

          <div id="customPath" name="customPath" style="display: none;">
            <label for="customPathInput">Custom Function Path</label>
            <input type="text" id="customPathInput" name="customPathInput">
          </div>
        </div>
      </div>
      <button type="submit">SIMULATE</button>
    </form>
  </div> -->

  <script src="{{ url_for('static', filename='js/pipeline.js') }}"></script>
</body>
</html>
